@using _Anmol.Common
@{
    ViewBag.Title = "GetMilkOrderDetail";
    Layout = "~/Views/Shared/_LayoutForCustomer.cshtml";
}

<div class="card customer-detail-card-list customer-today-order">
    <div class="card-body">
        <div class="row d-flex align-items-center">
            <div class="col-sm-2 col-6">
                <p>Today Order</p>
                <h3 class="font-weight-bold todayOrder"></h3>
            </div>
            <div class="col-sm-10 col-6 text-right">
                <div class="action-btn text-right">
                    <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#temporaryModal" onclick="addtemporder()">Add Temporary Order</button>
                </div>
            </div>
        </div>
        <!-- table-list -->
        <div class="row ">
            <div class="col-sm-12 table-responsive ">
                <div class="card ">
                    <div class="card-body table-responsive ">
                        <table id="tblMilkOrder" class="table text-center">
                            <thead>
                                <tr>
                                    <th>Form Date</th>
                                    <th>To Date</th>
                                    <th>Temporary Order</th>                                    
                                    <th class="text-center col-1" width="80">Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@*</div>*@

<div class="modal fade" id="temporaryModal" tabindex="-1" role="dialog" aria-labelledby="temporaryModalLebel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="temporaryModalLebel ">Temparary Order</h5>                
                <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form class="row g-3" id="TempOrderForm">
                    <div class="col-md-6 ">
                        <label for="formdate" class="form-label">From Date</label>
                        <input type="date" class="form-control" id="fromDate" required>
                    </div>
                    <div class="col-md-6">
                        <label for="todate" class="form-label">To Date</label>
                        <input type="date" class="form-control" id="toDate" required>
                    </div>
                    <div class="col-md-12">
                        <label for="quntity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="milkQuantity" min="0" required>
                    </div>
                    <div class="col-md-12">
                        <label for="reason" class="form-label">Reason</label>
                        <input type="text" class="form-control" id="reason" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-default" onclick="validate()">Save</button>
                </form>
            </div>
            @*<div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-default" onclick="saveTemporaryOrder()">Save</button>
            </div>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    var CustomerTempOrderId = 0;
    $(document).ready(function () {
        $("#navbarNav li.active").removeClass("active")
        $("#MilkOrder").addClass("active");
        $(".list-unstyled li").removeClass("active");
        $(".list-unstyled #MilkOrder").addClass("active");
        BindMilkOrderGrid();

    });
    function BindMilkOrderGrid() {
        $.ajax({
            url: encodeURI('@Url.Action(ActionHelper.GetMilkOrderList, ControllerHelper.MilkOrderDetails)'),
            type: "GET",
            data: {
            },
            dataType: "json",
            success: GetData
        });
    }
    function GetData(data) {
        try {
            var dt = $('#tblMilkOrder').DataTable();
                 if (dt != 'undefined') {
                    dt.destroy();
                    }

            dt = $('#tblMilkOrder').DataTable({
                "lengthMenu": [50, 100, 200, 500],
                "pageLength": 50,
                "order": [0, 'desc'],
                "dom": 'frtlip',
                "bFilter": true,
                "autoWidth": true,
                "aaData": data.Data,                
                "aoColumns": [
                    {
                        "mData": "strFromDate",
                    },
                    {
                        "mData": "strToDate",
                    },
                    {
                        "mData": "TemporaryOrder",
                    },
                    {
                        "mData": "CustID",
                        "className": "dt-center",
                        "orderable": false,
                        "render": function (data, type, row, meta) {
                            var ActionButtonEdit = '<a class="btn-link btn-sm px-1" href="javascript:;" title="Edit milk order"  onclick="OpenMilkOrderPopUp(' + row.CustTempOrdId + ',\'' + row.strFromDate + '\',\'' + row.strToDate + '\',\'' + row.TemporaryOrder + '\',\'' + row.Reason + '\')"><i class="fa fa-pencil"></i></a>';
                            var result = ActionButtonEdit;
                            var ActionButtonDelete = '<a href="javascript:void(0)" title="Delete milk order" onclick="deleteTemporaryOrder(' + row.CustTempOrdId + ')" class="btn-link btn-sm px-1"><i class="fa fa-trash text-primary"></i></a>';
                            return result + ActionButtonDelete;
                        }
                    }
                ],               
                "drawCallback": function () {
                    $(".todayOrder").text($("#tblMilkOrder tr").length-1);
                }
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        } catch (e) {
            alert(e.message);
        }
    }  

    function validate() {
        var form = $("#TempOrderForm");
        console.log(form.valid());
        if (!form.valid()) {           
            return;
        }
    }

    function saveTemporaryOrder() {
        //debugger;
        //var form = $("#TempOrderForm");
        //if (!form.valid()) {
        //    alert('valid');
        //    return;
        //}
        $.ajax({
            url: encodeURI('@Url.Action(ActionHelper.SaveTemporaryMilkOrder, ControllerHelper.MilkOrderDetails)'),
            async: false,
            type: 'POST',
            data: {
                CustTempOrdId: CustomerTempOrderId, FromDate: $("#fromDate").val(), ToDate: $("#toDate").val(), Quantity: $("#milkQuantity").val(),
                Reason: $("#reason").val()
            },
            success: function (data) {
                if (data.Flag) {
                    $("#temporaryModal").modal('toggle');
                    toastr.success('Temporary order saved successfully');
                    BindMilkOrderGrid();
                    CustomerTempOrderId = 0;
                }
                else {
                    toastr.error('Something went wrong, Please try again later!');
                }
            }
        });
    }

    function OpenMilkOrderPopUp(TempCustOrderId, strFromDate, strToDate, Quantiy, Reason) {
        var FromDate = strFromDate.split("/").reverse().join("-");
        var ToDate = strToDate.split("/").reverse().join("-");
        $("#fromDate").val(FromDate);
        $("#toDate").val(ToDate);
        $("#milkQuantity").val(Quantiy);
        $("#reason").val(Reason);
        CustomerTempOrderId = TempCustOrderId;
        $("#temporaryModal").modal('show');
    }
    function addtemporder() {
        $("#fromDate").val("");
        $("#toDate").val("");
        $("#milkQuantity").val("");
        $("#reason").val("");
        CustomerTempOrderId = 0;
    }

    function deleteTemporaryOrder(CustTempOrdId) {       
        bootbox.confirm("Are you sure you want to delete this record?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action(ActionHelper.DeleteCustomerTemporaryOrder, ControllerHelper.CustomerTemporaryOrder)',
                    async: false,
                    type: 'POST',
                    data: {
                        CustTempOrdId: CustTempOrdId,
                    },
                    success: function (data) {
                        if (data.Flag) {
                            BindMilkOrderGrid();
                            toastr.success("Temporary Order deleted successfully.");
                        }
                        else {
                            toastr.error("Something Went Wrong.");
                        }
                    }
                });
            }
        });
    }

</script>


