@using _Anmol.Common
@{
    ViewBag.Title = "GetDeliveryHistory";
    Layout = "~/Views/Shared/_LayoutForCustomer.cshtml";
}


<div class="row ">
    <div class="col-sm-12">
        <div class="card ">
            <div class="card-body table-responsive">
                <table id="tblDeliveryHistoryInfo" class="table">
                    <thead class="text-center">
                        <tr>
                            <th>
                                Date
                                <a href="javascript:void(0) " class="filter-btn" data-toggle="modal" data-target="#customerfilterModal">
                                    <svg version="1.1 " id="Capa_1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " width="14px " height="14px " viewBox="0 0 459 459 " style="enable-background:new 0 0 459 459; " xml:space="preserve ">
                                        <g>
                                            <g id="filter ">
                                                <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z " />
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </th>
                            <th class="text-center">Delivered Milk</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@*</div>*@


<div class="modal fade" id="customerfilterModal" tabindex="-1" role="dialog" aria-labelledby="customerfiltertLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title" id="customerfilterModallabel">Find From & To Date</h5>
                <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form class="row g-3 ">
                    <div class="col-md-6 ">
                        <label for="formdate " class="form-label ">Form Date</label>
                        <input type="date" class="form-control " id="fromDate">
                    </div>
                    <div class="col-md-6 ">
                        <label for="todate " class="form-label ">To Date</label>
                        <input type="date" class="form-control " id="toDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-default" onclick="BindMilkOrderHistoryGrid()" data-dismiss="modal">Search</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#navbarNav li.active").removeClass("active");
        $(".list-unstyled li").removeClass("active");
        $("#DeliveryHistory").addClass("active");
        $(".list-unstyled #DeliveryHistory").addClass("active");

        BindMilkOrderHistoryGrid();
    });
    function BindMilkOrderHistoryGrid() {
        $.ajax({
            url: encodeURI('@Url.Action(ActionHelper.GetCustomerMilkOrderHistory, ControllerHelper.DeliveryHistoryDetails)'),
            type: "GET",
            data: {
                FromDate: $('#fromDate').val(), ToDate: $('#toDate').val()
            },
            dataType: "json",
            success: GetData
        });
    }
    function GetData(data) {
        try {
            var dt = $('#tblDeliveryHistoryInfo').DataTable();
                 if (dt != 'undefined') {
                    dt.destroy();
                    }

            dt = $('#tblDeliveryHistoryInfo').DataTable({
                "lengthMenu": [50, 100, 200, 500],
                "pageLength": 50,
                "order": [0, 'desc'],
                "dom": 'frtlip',
                "bFilter": true,
                "autoWidth": true,
                "aaData": data.Data,                
                "aoColumns": [
                    {
                        "mData": "strFromDate",
                        "className": "dt-center",
                        "orderable": false
                    },                    
                    {
                        "mData": "TemporaryOrder",
                        "className": "dt-center"
                    }
                ],                  
                "drawCallback": function () {
                    $("#fromDate").val(""); $("#toDate").val(""); 
                }
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        } catch (e) {
            alert(e.message);
        }
    }      
</script>