@using _Anmol.Common
@model _Anmol.Entity.LoginModel
@{
    ViewBag.Title = "Steve Portal -Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<style></style>
<div style="background-image: url('/Content/AnmolTheme/img/landing/shattered.png'); height: 100%;"  class="wrapper wrapper-content">
   
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>

            <img src="../Content/Theme/img/logo.png" width="250" />

            <br />
            @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post, new { @id = "formLogin", @class = "m-t", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", @placeholder = "Email Address", @autofocus = "", @required = "required" })
                    @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "text-danger help-block" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @autofocus = "", @required = "required" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger help-block" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            }

            <p class="m-t"><small>Satva Softech &copy;
            <script>document.write(new Date().getFullYear());</script></small></p>
        </div>
    </div>
</div>

